.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 3rem;
  margin: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

.action-icon {
  cursor: pointer;
}

.restore-button {
  cursor: pointer;
  margin-top: 1.5rem;

  background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}
