html, body {
  height: 100%;
}
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;

}